/* this is for the home page */

#Home-Page-Banner {
    display: grid;
    background-image: url('../assets/IMG/home_page_pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35em;
    text-align: center;
}

#Home-Page-Banner h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: #000000;
    margin: auto;
}

#Home-Page-Message {
    background-image: url('../assets/IMG/office-932926_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 30em;
    text-align: center;
}

#Home-Page-Message h1{
    margin-top: 1.5em;
    font-size: 2.5em;
    font-weight: 900;
}

#Home-Page-Message p{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 2.5em;
    font-weight: 100;
}

#Home-About-Page-Message {
    background-image: url('../assets/IMG/web-design-2906159_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 25em;
    text-align: center;
    background-color: rgb(92, 21, 3);
}

#Home-About-Page-Message a{
    margin: auto;
    color: rgb(105, 105, 105);
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
    width: 50%;
}

#Home-About-Page-Message a:hover{
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(105, 105, 105);
}

#Home-Contact-Page-Message {
    background-image: url('../assets/IMG/business-2717063_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 25em;
    text-align: center;
    background-color: rgb(100, 100, 100);
}

#Home-Contact-Page-Message a{
    margin: auto;
    color: rgb(105, 105, 105);
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
    width: 50%;
}

#Home-Contact-Page-Message a:hover{
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 21, 3);
}

#Home-Resume-Work-Page-Message {
    background-image: url('../assets/IMG/career-3478983_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 25em;
    text-align: center;
    background-color: rgb(100, 100, 100);
}

#Home-Resume-Work-Page-Message a{
    margin: auto;
    color: rgb(105, 105, 105);
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
    width: 50%;
}

#Home-Resume-Work-Page-Message a:hover{
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 21, 3);
}

@media (min-width: 1024px) {
    /* This is for the home page on bigger screens */

    #Home-Page-Banner {
        height: 55em;
     }

     #Home-Page-Message {
        height: 55em;
     }

     #Home-About-Page-Message {
        height: 55em;
     }

     #Home-Contact-Page-Message {
        height: 55em;
     }

     #Home-Resume-Work-Page-Message{
        height: 55em;
     }
}